// Colors
$primary: #215EF8;
$primary-dark: #0037BF;
$secondary: #FE5E1C;
$white: #ffffff;
$text-main: #333333;
$text-secondary: #6F6F6F;
$blue-light: rgba(33, 94, 248, 0.1);
$gray-light: #F0F0F0;
$accent: #06B12E;
$footer: #060606;
$cart-icons: #FFE7DA;
$star-icons: #F2C94C;

// Fonts types
$roboto: 'Roboto', sans-serif;
$bellota: 'Bellota', cursive;

// Font size
$fz-base: 10px;

$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

// Breakpoints
$breakpoints: (
        'xs': (max-width: 575px),
        'sm': (max-width: 767px),
        'md': (max-width: 991px),
        'lg': (max-width: 1199px),
        'xl': (min-width: 1200px),
);
