.header-content-left {
    display: flex;
    align-items: center;

    @import "../components/category-list";

    .lanquages {
        position: relative;
        margin-left: 40px;
        min-height: 50px;
        display: flex;
        align-items: center;

        .current-lanquage {
            cursor: pointer;
        }

        &__list {
            visibility: hidden;
            width: 150px;
            position: absolute;
            top: 50px;
            left: 0;
            background: $white;
            border: 1px solid $blue-light;
        }

        &__item {
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            &:hover {
                background: $blue-light;
            }
        }


        &__icon {
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        &:hover {
            .lanquages__list {
                visibility: visible;
            }
        }
    }
}
