.header-content-left {
    min-height: 80px;
    display: flex;
    align-items: center;

    .lanquages {
        position: relative;
        margin-left: 40px;
        min-height: 50px;
        display: flex;
        align-items: center;

        .current-lanquage {
            cursor: pointer;
        }

        &__list {
            visibility: hidden;
            width: 150px;
            position: absolute;
            z-index: 1;
            top: 80px;
            opacity: 0;
            left: 0;
            background: $white;
            border: 1px solid $blue-light;
            transition: all .3s;
        }

        &__item {
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            &:hover {
                background: $blue-light;
            }
        }


        &__icon {
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        &:hover {
            .lanquages__list {
                visibility: visible;
                opacity: 1;
                top: 50px;
            }
        }
    }
}

.header-content-right {

    .cabinet {

        &__link {
            min-height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__icon {
            width: 25px;
        }

        &__title {
            margin-top: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 1.1rem;
            line-height: 1.3rem;
            color: $text-main;
        }
    }

    .cart {
        position: relative;

        &__link {
            min-height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__count {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 15px;
            height: 15px;
            background: $primary;
            border-radius: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: .8rem;
            line-height: 1.5rem;
            color: $white;
            text-align: center;
        }

        &__icon {
            width: 25px;
        }

        &__title {
            margin-top: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 1.1rem;
            line-height: 1.3rem;
            color: $text-main;
        }
    }

    .recall {
        &__link {
            min-height: 80px;
            display: flex;
            align-items: center;
        }

        &__icon {
            margin-right: 15px;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            background: $blue-light;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: auto;
            }
        }

        &__title {
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: $primary;
        }
    }
}

.sub-header {
    background: $gray-light;
    min-height: 45px;
    display: flex;
    align-items: center;

    .sub-header-content-center {
        text-align: center;

        .header-offer {
            span {
                color: $secondary;
                font-weight: 500;
            }
        }
    }

    .sub-header-content-right {
        text-align: right;
    }

    a {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 1.1rem;
        line-height: 1.3rem;
        color: $text-main;
        transition: color .3s;

        &:hover {
            color: $secondary;
        }
    }

    .favourite-link,
    .policy-link {
        position: relative;
        margin-right: 20px;

        &::after {
            position: absolute;
            right: -13px;
            display: inline-block;
            content: '';
            width: 1px;
            height: 1.2rem;
            background: $text-main;
        }
    }
}

.header-bar {
    background: $primary;

    .logo {
        min-height: 85px;
        display: flex;
        align-items: center;
    }
}

.top-menu {
    min-height: 85px;
    display: flex;
    align-items: center;

    .mobile-menu {
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: auto;

        &__icon {
            position: relative;
            width: 25px;
            height: 2px;
            background: $white;

            &::before,
            &::after {
                content: '';
                position: absolute;
                right: 0;
                display: block;
                width: 20px;
                height: 2px;
                background: $white;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }

            &::before {
                width: 20px;
                top: -8px;
            }

            &::after {
                width: 30px;
                top: 8px;
            }
        }

        &.active {
            .mobile-menu__icon {
                height: 0;

                &::before,
                &::after {
                    width: 30px;
                }

                &::before {
                    transform-origin: right;
                    transform: rotate(-45deg) translateX(10%);
                }

                &::after {
                    transform-origin: right;
                    transform: rotate(45deg) translateX(10%);
                }
            }
        }
    }

    .menu {
        display: flex;

        @include respond-to('md') {
            display: block;
            height: 0;
            visibility: hidden;
            position: fixed;
            z-index: 20;
            top: 280px;
            left: 0;
            background: $primary-dark;
            width: 100%;
            transition: all .3s ease-in-out;
        }

        .sub-menu {
            position: absolute;
            top: 100px;
            left: 0px;
            z-index: 1;
            padding: 25px 0;
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease-in-out;

            &__item {
                padding: 10px 20px 10px 10px;
                border: 1px solid $blue-light;
                background: $white;
                transition: all .3s;

                a {
                    color: $secondary;
                }

                &:hover {
                    background: $primary;

                    a {
                        color: $white;
                    }
                }
            }
        }

        &__item {
            position: relative;
            padding: 0 15px;
            cursor: pointer;


            @include respond-to('md') {
                padding: 10px 20px;
            }

            a {
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $white;
            }

            &.active {

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateY(-32.5px);
                    height: 85px;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.10);
                    border-bottom: 2px solid $white;

                    @include respond-to('md') {
                        display: none;
                    }
                }
            }

            &.has-children > a {
                position: relative;
                margin-right: 13px;

                &::after {
                    position: absolute;
                    top: 0;
                    right: -25px;
                    transform: translate(-50%, 30%);
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-image: url("../img/icons/category-arrow-icon.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: transform .3s;

                    @include respond-to('md') {
                        content: '+';
                        background-image: none;
                        transform: translateY(15%);
                    }
                }
            }

            &.has-children {
                &:hover {
                    a {
                        &::after {
                            transform: rotate(-180deg) translate(50%, -35%);
                            filter: hue-rotate(25deg);

                            @include respond-to('md') {
                                transform: rotate(-180deg) translate(50%, -60%);
                                transform-origin: center;
                            }
                        }
                    }

                    .sub-menu {
                        visibility: visible;
                        top: 15px;
                        opacity: 1;
                    }
                }
            }

        }

        &.active {
            visibility: visible;
            top: 210px;
            height: auto;

            .has-children .sub-menu {
                height: 0;
                padding: 0;
                visibility: hidden;
                position: relative;
                opacity: 0;
                transition: all .3s;
            }

            .has-children.open {
                .sub-menu {
                    height: 100%;
                    visibility: visible;
                    padding: 20px 10px;
                    opacity: 1;
                }
            }
        }
    }
}

.header-search {
    @include respond-to('md') {
        display: none;
    }

    .search-form {
        position: relative;
        min-height: 85px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        input[type="text"] {
            width: 250px;
            height: 40px;
            background: $primary-dark;
            border-radius: 20px;
            border: none;
            outline: none;
            color: $white;
            padding: 10px 20px;

            &::placeholder {
                color: $white;
                opacity: .7;
            }
        }

        input[type="submit"] {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-20%, -50%);
            width: 30px;
            height: 30px;
            background: $white url('../img/icons/search-icon.svg') center no-repeat;
            border-radius: 100%;
            border: none;
            outline: none;
        }
    }
}
