.quick-view {
    display: none;

    &__bg {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .4);
    }

    &__body {
        position: fixed;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        max-width: 100%;
        background: $white;
    }

    .product-modal {
        position: relative;
        padding: 35px;

        &__close {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 35px;
            height: 35px;
            background: $white url("../img/icons/close-modal.png") no-repeat center;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background-color: $secondary;
            }
        }

        .gallery {
            background: $gray-light;
            min-height: 500px;

            &__item {
                padding: 30px;
            }

            .slick-track {
                display: flex;
                align-items: center;
            }
        }

        .img-slider-box {
            margin-bottom: 30px;
            background: $white;
        }

        .img-nav__wrapper.slick-current {
            // background: $white;
            height: 80px;
            // padding: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
