.checkout {
    padding: 90px 0;

    @include respond-to('sm') {
        padding: 50px 0;
    }

    .billing-details {
        padding: 30px 0;

        &__title {
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.5rem;
            text-transform: uppercase;
            color: $secondary;
            margin-bottom: 30px;
        }
    }

    .order-details {
        padding: 30px 20px;
        &__title {
            @extend .billing-details__title;
        }

        background: $blue-light;
    }

    .checkout-content {
        @include respond-to('md') {
            flex-direction: column-reverse;
        }
    }
}
