/*
Main offer
============================================================================
*/
.main-offer {
    background: $primary-dark;
    padding: 90px 0;

    @include respond-to('md') {
        padding: 50px 0;
    }

    .offer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__span {
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $white;
            margin-bottom: 25px;
        }

        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 6.5rem;
            line-height: 7.6rem;
            color: $white;
            margin-bottom: 25px;
        }

        &__desc {
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 200%;
            color: $white;
            margin-bottom: 25px;
        }

        &__price {
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 2.9rem;
            color: $white;
            margin-bottom: 25px;
        }

        &__img {
            @include respond-to('md') {
                margin-bottom: 30px;
            }
        }

        .cta {
            &__detail {
                background: $white;
                color: $secondary;
                margin-left: 20px;

                &:hover {
                    background: $secondary;
                    color: $white;
                }
            }
        }
    }

    .slider {
        &__item {
            img {
                max-height: 540px;
                object-fit: contain;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        z-index: 10;
        top: 50%;

        @include respond-to('lg') {
            display: none !important;
        }
    }

    .slick-prev,
    .slick-next {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        outline: none;
        transition: opacity .3s;

        &:hover {
            opacity: .5;
        }
    }

    .slick-prev {
        background: $white url("../img/icons/slider-arrow.png") no-repeat center;
        transform: translate(-200%, -50%);
    }

    .slick-next {
        right: 20px;
        background: $white url("../img/icons/slider-arrow.png") no-repeat center;
        transform: rotateY(180deg) translate(-200%, -50%);
    }
}

/*
Top flash
============================================================================
*/
.top-flash {
    margin-top: 95px;

    .flash {
        box-shadow: $box-shadow;
        margin-bottom: 30px;

        .img-box {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue-light;

            img {
                max-width: 200px;
            }
        }

        .info-box {
            padding: 20px;
        }

        &__title {
            font-family: $bellota;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $primary;
        }

        &__info {
            margin-top: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 2.6rem;
            color: $text-main;
        }

        &__date {
            margin-top: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: $text-secondary;

            span {
                font-weight: bold;
                color: $secondary;
            }
        }

    }
}

/*
Features
============================================================================
*/
.features {
    margin-top: 65px;

    &-wrapper {
        box-shadow: $box-shadow;
    }

    .feature {
        display: flex;
        align-items: center;
        padding: 30px;

        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            min-height: 60px;
            border-radius: 100%;
            background: $blue-light;
            transition: all .3s;
        }

        &__img {
            max-width: 35px;
            transition: all .3s;
        }

        &__desc {
            margin-left: 10px;
        }

        &__title {
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.3rem;
            color: $text-main;
        }

        &__info {
            margin-top: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 150%;
            color: $text-secondary;
        }

        &:hover {
            .img-box {
                background: $primary;

                img {
                    filter: drop-shadow(2px 4px 6px $footer);
                }
            }
        }
    }
}

/*
Goods
============================================================================
*/
.goods {
    margin-top: 95px;
    margin-bottom: 60px;
    text-align: center;

    &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: $text-secondary;
    }

    &__title {
        margin-top: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        line-height: 4.7rem;
        color: $text-main;
    }


    .tab-links {
        margin: 0 auto;

        .tab-nav {
            margin: 50px 0;
            display: flex;
            align-items: center;

            &__item {
                background: $blue-light;
                color: $primary;
                margin-left: 14px;
                margin-right: 14px;

                @include respond-to('sm') {
                    width: 100px;
                    padding: 12px;
                }

                &.active {
                    background: $primary;
                    color: $white;
                }
            }
        }

    }

    .tab-content {
        position: relative;

        &__body {
            display: none;

            &:first-child {
                display: block;
            }
        }
    }
}

/*
Subscribe
============================================================================
*/
.subscribe {
    background: rgba(0, 55, 191, 0.7);

    &-info {
        min-height: 485px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond-to('md') {
            min-height: 300px;
        }

        &__news {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $white;
            margin-bottom: 7px;
        }

        &__title {
            font-weight: bold;
            width: 100%;
            font-size: 4rem;
            line-height: 4.7rem;
            color: $white;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 2rem;
            color: $white;
            margin-bottom: 35px;
        }
    }

    &-img-box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to('md') {
            max-width: 550px;
            margin: 0 auto;
        }
    }
}

/*
Discount
============================================================================
*/
.discount {
    margin: 90px 0;

    &__left {
        position: relative;

        @include respond-to('md') {
            margin-bottom: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%);
        }
    }

    .sale-item {
        padding: 0 30px;
        height: 255px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: $box-shadow;

        &__badge {
            @extend .product-cart__accent;
            z-index: 5;
            top: -20px;
            right: -20px;
            width: 100px;
            height: 100px;
            background: $secondary;
            font-size: 3.2rem;
        }

        &__img {
            position: absolute;
            max-height: 100%;
            width: auto;
            top: 0;
            right: 0;
        }

        &__name {
            padding-right: 55%;
            z-index: 10;
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.3rem;
            color: $text-main;
            margin-bottom: 15px;
        }

        &__price {
            z-index: 10;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: $text-secondary;
            margin-bottom: 20px;

            span {
                font-family: $bellota;
                font-weight: bold;
                font-size: 1.8rem;
                color: $secondary;
            }
        }

        &__btn {
            z-index: 10;

            &:hover {
                border: 1px solid $secondary;
            }
        }
    }

    &__right {
        box-shadow: $box-shadow;
        padding: 0 25px;
        box-sizing: border-box;

        .offer-day {
            height: 255px;
            display: flex;
            align-items: center;

            .img-box {
                position: relative;
                width: 100%;
                margin-bottom: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__badge {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;
                top: -10px;
                right: -10px;
                width: 40px;
                height: 40px;
                color: $white;
                border-radius: 100%;
                background: $secondary;
                font-size: 1.2rem;
            }

            &__left {
                width: 218px;
                border: 1px solid $cart-icons;
                box-sizing: border-box;
            }

            .icons {
                background: $cart-icons;
                box-shadow: $box-shadow;
                transition: background-color .3s;

                &__list {
                    padding: 10px 15px;
                    display: flex;
                    justify-content: space-around;
                }

                &__item {
                    position: relative;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    opacity: .4;
                    cursor: pointer;
                    transition: all .3s;

                    &.add-cart {
                        background: $secondary url("../img/icons/add-to-cart.png") no-repeat center;

                        &::before {
                            content: 'В корзину';
                        }
                    }

                    &.view {
                        background: $secondary url("../img/icons/cart-view.png") no-repeat center;

                        &::before {
                            content: 'Просмотр';
                        }
                    }

                    &.favourite {
                        background: $secondary url("../img/icons/favourite.png") no-repeat center;

                        &::before {
                            content: 'В избранное';
                        }
                    }

                    &.compare {
                        background: $secondary url("../img/icons/compare.png") no-repeat center;

                        &::before {
                            content: 'Сравнить';
                        }
                    }

                    &::before {
                        position: absolute;
                        z-index: 1;
                        top: -45px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        visibility: hidden;
                        padding: 6px 15px;
                        width: max-content;
                        background: $text-main;
                        border-radius: 6px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.2rem;
                        line-height: 150%;
                        text-align: center;
                        opacity: 0;
                        color: $white;
                        transition: opacity .3s;
                    }

                    &::after {
                        content: '';
                        visibility: hidden;
                        position: absolute;
                        top: -25px;
                        left: 50%;
                        width: 14px;
                        height: 14px;
                        transform: translateX(-50%) rotate(45deg);
                        display: block;
                        opacity: 0;
                        background: $text-main;
                        transition: opacity .3s;
                    }
                }

                &:hover {
                    background-color: $primary-dark;

                    .icons__item {
                        background-color: $primary;
                        opacity: 1;

                        &:hover {
                            background-color: $secondary;

                            &::before,
                            &::after {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &__right {
                margin-left: 30px;
            }
        }
    }

    .offer-day {
        &__name {
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.3rem;
            color: $text-main;
            margin-bottom: 20px;
        }

        &__price {
            font-family: $bellota;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.9rem;
            color: $primary;
            margin-bottom: 20px;

            span {
                text-decoration-line: line-through;
                color: $text-secondary;
                margin-left: 7px;
            }
        }

        &__rating {
            margin-bottom: 20px;
            padding: 10px;
            box-shadow: $box-shadow;
            width: max-content;

            i.fa.fa-star,
            i.fa.fa-star-o {
                font-size: 1.2rem;
                color: $star-icons;
            }
        }

        .time-count {
            &__list {
                display: flex;
            }

            &__item {
                margin-left: 5px;
                width: 50px;
                height: 50px;
                background: $secondary;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $white;
            }

            &__integer {
                font-style: normal;
                font-weight: bold;
                font-size: 2rem;
                line-height: 2.3rem;
                color: inherit;
            }

            &__desc {
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
}

/*
Latest news
============================================================================
*/
.latest-news {
    padding: 50px 0;
    background: $gray-light;

    &__info {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: $text-main;
        margin-bottom: 15px;
    }

    &__title {
        font-weight: bold;
        font-size: 3.7rem;
        line-height: 4.3rem;
        color: $text-main;
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 120px;

        @include respond-to('md') {
            height: 80px;
        }
    }

    &__link {
        height: 45px;
        width: 142px;
    }

    .browse-category {
        margin-left: 30px;
        width: 142px;
    }
}

/*
Video Reviews
============================================================================
*/
.video-reviews {
    padding: 90px 0px;

    &__title {
        margin: 0 auto;
        font-weight: bold;
        font-size: 4rem;
        line-height: 4.7rem;
        color: $text-main;

        i {
            margin-right: 10px;
            color: #FF0000;
        }
    }
}

.review {
    &__list {
        margin-top: 60px;
    }

    &__link {
        position: relative;
        display: block;

        &::before {
            position: absolute;
            z-index: 1;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 20%);
            content: '';
            width: 60px;
            height: 44px;
            background: url("../img/icons/youtube-play.png") no-repeat center;
            transition: all .3s ease-in;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 0;
            background: $secondary;
            opacity: .5;
            transition: all .3s ease-in;
        }

        &:hover {
            &::before {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            &::after {
                height: 100%;
            }
        }
    }
}
