.cart-products {
    width: 100%;
    text-align: left;

    tbody {
        tr {
            border-top: 1px solid $blue-light;
        }
    }

    th, td {
        padding: 15px 10px;
    }

    th {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-transform: uppercase;
        color: $text-main;

        @include respond-to('xs') {
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }


    .cart-products__price-th {
        @include respond-to('xs') {
            display: none;
        }
    }

    .cart-products__price-td {
        @include respond-to('xs') {
            display: none;
        }
    }

    td {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: $text-secondary;

        i {
            font-size: 2rem;
            color: $text-secondary;
            transition: color .3s;

            @include respond-to('md') {
                font-size: 1.5rem;
            }

            &:hover {
                color: $del-color;
            }
        }

        .cart-form__count {
            @include respond-to('md') {
                width: 90px;
            }

            @include respond-to('xs') {
                width: 60px;
            }

            .count {
                @include respond-to('md') {
                    width: 30px;
                    min-width: 30px;
                    height: 40px;
                }

                @include respond-to('xs') {
                    width: 20px;
                    min-width: 20px;
                    height: 40px;
                    font-size: 1.5rem;
                }
            }

            .count-input {
                @include respond-to('md') {
                    width: 30px;
                    height: 40px;
                }

                @include respond-to('xs') {
                    width: 20px;
                    height: 40px;
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__img {
        width: 70px;
        height: auto;
    }
}

.result-table {
    width: 100%;
    text-align: left;

    tr {
        border: 1px solid $blue-light;
    }

    th, td {
        padding: 15px 10px;
    }

    th {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $text-main;
    }

    td {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: $text-secondary;
    }

    .total {
        th,td {
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.9rem;
            color: $text-main;
        }
    }
}

.checkout-table {
    width: 100%;
    text-align: left;

    thead {
        th {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2rem;
            text-transform: uppercase;
            color: $text-main;
        }
    }

    tr.product-item {
        border-top: 1px solid $blue-light;
        th {
            font-weight: bold;
            line-height: 2rem;
            width: 60%;
        }
    }

    .checkout-price {
        font-family: $bellota;
        font-weight: bold;
        font-size: 1.5rem;
    }

    th, td {
        padding: 15px 10px;
        color: $text-main;
    }

    .shiping-info {
        border-top: 1px solid $secondary;

        th,td {
            padding-top: 30px;
        }

        th {
            font-weight: bold;
        }

        .checkout-form__group {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        &__wrapper {
            display: inline-block;
        }

        &__method {
            margin: 0 5px;
        }

        &__cost {
            display: block;
            margin: 5px 0 0 5px;
            font-family: $bellota;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 1;
        }
    }

    .total-pay {
        border-top: 1px solid $secondary;

        th,td {
            padding-top: 30px;
        }

        th {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
            text-transform: uppercase;
            color: $text-main;
        }

        span {
            font-family: $bellota;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
            color: $text-main;
        }
    }

    .payment-info {
        border-top: 1px solid $secondary;

        th,td {
            padding-top: 30px;
        }

        .checkout-form__group {
            margin-bottom: 10px;
        }

        &__method {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
    }
}
