.order-form {
    .variation {

        &__name {
            margin-bottom: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $text-secondary;
        }

        &__color {
            margin-right: 5px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: $white;

            input {
                visibility: hidden;
                width: 20px;
                height: 20px;
                background: inherit;
            }

            input:checked {
                position: relative;
                visibility: visible;

                &::before {
                    position: absolute;
                    z-index: 15;
                    content: '';
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 22px;
                    height: 22px;
                    border: 3px solid $white;
                    background: inherit;
                }

                &::after {
                    position: absolute;
                    z-index: 12;
                    content: '';
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 25px;
                    height: 25px;
                    background: inherit;
                }
            }
        }
    }

    &__count {
        margin: 15px 0;
        width: 130px;
        height: 50px;
        display: flex;

        .count {
            background: $gray-light;
            min-width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 2rem;
            color: $text-secondary;
            transition: background-color .3s ease-in-out;

            &:hover {
                background: darken($gray-light, 10%);
            }
        }

        .count-input {
            width: 50px;
            background: $gray-light;
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.9rem;
            color: $text-secondary;
            border: none;
            text-align: center;
        }
    }
}

.subscribe-form {
    @include respond-to('xs') {
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }

    &-group {
        @include respond-to('xs') {
            display: flex;
            justify-content: space-between;
        }
    }

    &__input[type="text"] {
        width: 320px;
        max-width: 100%;
        margin-right: 50px;
        padding-bottom: 17px;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $white;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .5);

        &::placeholder {
            color: $white;
            opacity: .5;
        }

        @include respond-to('xs') {
            margin-right: 10px;
            max-width: 180px;
        }
    }

    &__input[type="submit"] {
        border: none;
        width: 155px;

        @include respond-to('xs') {
            width: auto;
        }
    }
}

.review-form {
    width: 100%;

    .form-row {
        display: flex;
        justify-content: space-between;

        .form-group {
            width: 49%;
            max-width: 100%;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
            margin-bottom: 10px;
            font-family: $roboto;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $text-secondary;
        }
    }

    &__input[type="text"],
    &__input[type="email"],
    textarea {
        background: $gray-light;
        border: 1px solid $form-border;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 17px 20px;
        font-family: $roboto;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $text-main;

        &::placeholder {
            font-family: $roboto;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: lighten($text-secondary, 20%);
        }
    }

    .product-details__rating {
        font-size: 2.5rem;
    }
}

.cart-form {
    &__count {
        @extend .order-form__count;

        .count {
            background: $blue-light;
            &:hover {
                background: rgba(33, 94, 248, 0.2);
            }
        }
    }

    .count-input {
        background: $blue-light;
    }

    .coupon {
        margin-top: 20px;
        display: flex;
        align-items: center;

        &__input {
            margin-right: 30px;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $text-secondary;
            border: 1px solid $form-border;
            border-radius: 10px;
            background: $gray-light;
            padding: 10px 20px;
            box-sizing: border-box;

            @include respond-to('sm') {
                margin-right: 15px;
                padding: 5px 8px;
                font-size: 1.2rem;
                line-height: 1.4rem;
                margin-left: 10px;
            }
        }

        &__btn {
            padding: 10px 20px;
            font-size: 1.4rem;
            line-height: 1.6rem;
            border: 1px solid $secondary;
            border-radius: 10px;

            @include respond-to('sm') {
                margin-right: 10px;
                padding: 5px 8px;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }

    .refresh-cart {
        @extend .coupon;

        &__btn {
            @extend .coupon__btn;
            width: auto;
            margin-left: auto;

            @include respond-to('xs') {
                margin-left: 10px;
            }
        }
    }
}

.checkout-form {
    .form-row {
        display: flex;
        justify-content: space-between;

        .form-group {
            width: 49%;
            max-width: 100%;
        }
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
            margin-bottom: 10px;
            font-family: $roboto;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $text-secondary;
        }
    }
    textarea {
        background: $gray-light;
        border: 1px solid $form-border;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 17px 20px;
        font-family: $roboto;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $text-main;

        &::placeholder {
            font-family: $roboto;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: lighten($text-secondary, 20%);
        }
    }

    &__btn {
        padding: 10px 20px;
        font-size: 1.4rem;
        line-height: 1.6rem;
        border: 1px solid $secondary;
        border-radius: 10px;
    }

    .required {
        color: $del-color;
        margin-left: 5px;
    }

    .variation {

        &__color {
            margin-right: 5px;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: $white;

            input {
                visibility: hidden;
                width: 15px;
                height: 15px;
                background: $secondary;
            }

            input:checked {
                position: relative;
                visibility: visible;

                &::before {
                    position: absolute;
                    z-index: 15;
                    content: '';
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 17px;
                    height: 17px;
                    border: 3px solid $white;
                    background: inherit;
                }

                &::after {
                    position: absolute;
                    z-index: 12;
                    content: '';
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 18px;
                    height: 18px;
                    background: inherit;
                }
            }
        }
    }
}
