.product-review {
    border-top: 1px solid $gray-light;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;

    @include respond-to('sm') {
        flex-direction: column;
    }

    @include respond-to('xs') {
        padding: 25px 0;
    }

    &__author {
        max-width: 125px;
        text-align: center;

        @include respond-to('sm') {
            margin: 0 auto 20px;
        }
    }

    &__avatar {
        max-width: 60px;
    }

    &__user {
        margin: 8px 0;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: $text-main;
        font-family: $roboto;
    }

    &__date {
        font-weight: normal;
        font-size: .9rem;
        line-height: 1.1rem;
        color: $text-secondary;
        font-family: $roboto;
    }

    &__text {
        margin: 0 50px;

        @include respond-to('sm') {
            margin-bottom: 20px;
            text-align: center;
        }

        @include respond-to('xs') {
            margin: 0 0 20px;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-family: $roboto;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.3rem;
        color: $text-main;
    }

    &__desc {
        font-weight: normal;
        font-family: $roboto;
        font-size: 1.3rem;
        line-height: 150%;
        color: $text-secondary;
    }

    &__rating {
        .product-details__rating {
            display: flex;

            @include respond-to('sm') {
                justify-content: center;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }
}
