.product-details {
    &__name {
        margin-top: 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: $text-main;
    }

    .price {
        margin: 20px 0;
        font-family: $bellota;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $primary;

        &__old {
            margin-left: 10px;
            font-size: 1.8rem;
            line-height: 2.3rem;
            text-decoration-line: line-through;
            color: $text-secondary;
        }
    }

    &__reviews {
        display: flex;

        &-count {
            margin-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 1.9rem;
            text-decoration-line: underline;
            color: $text-secondary;
        }
    }

    &__rating {
        margin-bottom: 20px;

        i.fa-star {
            font-size: 1.5rem;
            color: $star-icons;
        }

        i.fa-star-o {
            font-size: 1.5rem;
            color: $star-icons;
        }
    }

    &__desc {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        color: $text-secondary;
    }

    &__stock {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $text-secondary;

        span {
            font-weight: 700;
            color: $accent;
        }
    }

    &__category {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $text-secondary;

        span {
            font-weight: 500;
        }
    }

    .share {
        &__text {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $text-secondary;
        }

        &__link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            width: 25.76px;
            height: 25.76px;
            background: $gray-light;
            border-radius: 5px;
            color: $primary;
            transition: all .3s ease-in-out;

            &:hover {
                color: $white;
                background: $secondary;
            }
        }
    }
}
